$pinkGr: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$pinkC: rgba(188, 156, 255, 1);
$greenGr: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$greyTx: rgba(31, 33, 65, 0.502);
$darkTx: rgba(31, 32, 65, 0.75);