doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/index.scss")
    title= pageTitle
    link(rel="icon", href=logoPng)
  body
    h1 Toxin <br> site for searching rooms
    h2 Pages
    .pages-container
      a(href="landingPage.pug") Landing Page
      a(href="SignIn.pug") Login Page
      a(href="registration.pug") Registration Page
      a(href="searchRoom.pug") Room Search Page
      a(href="roomDetails.pug") Room Details Page
    h2 UI Kit
    .uikit-container
      a(href="./../UIKit/ColorAndType/ColorAndType.pug") Colors And Type
      a(href="./../UIKit/Cards/Cards.pug") Cards
      a(href="./../UIKit/FormElements/FormElements.pug") Form Elements 
      a(href="./../UIKit/HeadersAndFooters/HeadersAndFooters.pug") Headers And Footers