@import "styles/header";
@import "styles/footer";
@import "styles/landingPage";
@import "styles/registrationPage";
@import "styles/signInPage";
@import "styles/roomDetailsPage";
@import 'plugins/datepicker/datepicker';

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(/fonts/material-icons.woff2) format('woff2'),
 }  
 
 .material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;  
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: 'liga';
 }

body{
  font-family: 'Montserrat', sans-serif;
  @include fontBody;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  
  button,input{
    font-family:inherit;
  }

  .container{
    position: relative;
    max-width: 1920px;
  
    @media (max-width:1200px) {
      .container{
        max-width: 970px;
      }
      .booking{
        margin: 35px auto;
      }
      .discription_container{
        padding: 0 50px;
        margin-bottom: 0px
      }
    }
    @media (max-width:992px) {
      .container{
        max-width: 750px;
      }
    }
    @media (max-width:767px) {
      .container{
        max-width: none;
      }
    } 
  
  }
}
