$pinkGr: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$pinkC: rgba(188, 156, 255, 1);
$greenGr: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$greyTx: rgba(31, 33, 65, 0.502);
$darkTx: rgba(31, 32, 65, 0.75);

@mixin button($left) {
    position: absolute;
    width: 44px;
    height: 40px;
    left: $left;
    top: 30px;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    background-image: url("../src/img/dropd.svg");
    background-repeat: no-repeat;
    background-position: center;
    
        &:hover{
        background-color: hsl(0, 0%, 97%);
    }
}

body {
    font-family: 'Montserrat', sans-serif;    
    font-size: 14px;
    color: $greyTx;
}
.logo{
    width: 106px;
    height: 40px;
    padding-left: 140px;
    align-items: center;
    
}
.header {
    background-color: white;
    display: flex;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    height: 70px;
    max-width: 100;
    align-items: center;
    max-width: 1440px;
    min-width: 1440px;
    margin: 0px auto;
    
}
.nav {
    display: flex;
    list-style: none;
    height: 17px;
    margin-left: 247px;
        &-list {
        margin-right: 20px;
        margin-left: 0px;
        cursor:default;
    }
        &-item {
        text-decoration: none;
        color: $greyTx;
        
        }
}
.pinkB {
    background:$pinkGr;
    color: white;
    height: 34px;
    width: 196px;
    border-radius: 22px;
    border-style: none;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.framePink {
    background:$pinkGr;
    height: 34px;
    width: 87px;
    border: 2px;
    border-radius: 22px;
    margin-right: 20px;
    
}
.whiteB {
    background-color: white;
    color: $pinkC;
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-radius: 22px;
    height: 30px;
    width: 83px;
    margin: 2px 2px;
    cursor: pointer;
    outline: none;
}

.drop {
    position: absolute;
    background: rgba(188, 156, 255, 0.02);
    padding-left: 0px;
    padding-top: 10px;
    
    background-color: white;
    &-link {
        margin-top: 10px;
        display: none;
        padding-top: 15px;
        
    }
}
li.nav-list:hover li.drop-link{
    display: block; 
    background-color: #fff;
    padding: 10px;
}
.down {
    background-image: url(../src/img/dropd.svg);
    background-repeat: no-repeat;
    width: 70px;
    background-position: right;
    padding-left: 1px;
    margin-left: 4px;
}
.wrapper {
    
    background-image: url(../src/img/mainBG.jpg);
    background-position: center 100%;
    width: 1440px;
    height: 830px;
    background-repeat: no-repeat;
    margin: 0px auto;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        
}
.sub {
    position: relative;
    width: 297px;
    height: 48px;
    left: 1009px;
    top: 450px;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: $darkTx;  
}
.find{
    position: relative;
    height: 374px;
    width: 380px;
    left: 140px;
    top: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 30px 30px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    cursor: default;
    color: black;
    display: inline-block;
        &-arrival {
            position: absolute;
            font-size: 12px;
            text-transform: uppercase;
            left: 30px;
            top: 112px;
            
        }
        &-departure {
            position: absolute;
            font-size: 12px;
            text-transform: uppercase;
            left: 200px;
            top: 112px;
        }
        &-guests {
            position: absolute;
            font-size: 12px;
            text-transform: uppercase;
            top:205px;
            left: 30px;
        }
    }
input[name='date'] {
    width: 150px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    color: $darkTx;
    padding-left: 15px;
    
    font-size: 14px;
    cursor: default;
    margin-left: -1px;
    margin-top: -1px;
        &:focus{
            outline: none;
    }
}
#butt,#butt2{
    @include button(103px)
}
#butt3{
    @include button(273px)
}
input[name="guests"]{
    width: 320px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    color: $darkTx;
    padding-left: 15px;
    font-size: 14px;
    cursor: default;
    margin-left: -1px;
    margin-top: -1px;
        &:focus{
            outline: none;
        }
}



