$pinkGr: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$pinkC: rgba(188, 156, 255, 1);
$greenGr: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$greyTx: rgba(31, 33, 65, 0.502);
$darkTx: rgba(31, 32, 65, 0.75);

@mixin dropButton($left) {
    position: absolute;
    width: 44px;
    height: 40px;
    left: $left;
    top: 30px;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    background-image: url("../src/img/dropd.svg");
    background-repeat: no-repeat;
    background-position: center;
    
        &:hover{
        background-color: hsl(0, 0%, 97%);
    }
}

@mixin input ($wd){
    width: $wd;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    color: $darkTx;
    padding-left: 15px;
    
    font-size: 14px;
    cursor: default;
    margin-left: -1px;
    margin-top: -1px;
        &:focus{
            outline: none;
    }
}

body {
    font-family: 'Montserrat', sans-serif;    
    font-size: 14px;
    color: $greyTx;
}
.logo{
    width: 106px;
    height: 40px;
    padding-left: 140px;
    align-items: center;
    
}
.header {
    background-color: white;
    display: flex;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    height: 70px;
    max-width: 100;
    align-items: center;
    max-width: 1440px;
    min-width: 1440px;
    margin: 0px auto;
    
}
.nav {
    display: flex;
    list-style: none;
    height: 17px;
    margin-left: 247px;
        &-list {
        margin-right: 20px;
        margin-left: 0px;
        cursor:default;
    }
        &-item {
        text-decoration: none;
        color: $greyTx;
        
        }
}
.pinkB {
    background:$pinkGr;
    color: white;
    height: 34px;
    width: 196px;
    border-radius: 22px;
    border-style: none;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.framePink {
    background:$pinkGr;
    height: 34px;
    width: 87px;
    border: 2px;
    border-radius: 22px;
    margin-right: 20px;
    
}
.whiteB {
    background-color: white;
    color: $pinkC;
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-radius: 22px;
    height: 30px;
    width: 83px;
    margin: 2px 2px;
    cursor: pointer;
    outline: none;
}

.drop {
    position: absolute;
    background: rgba(188, 156, 255, 0.02);
    padding-left: 0px;
    padding-top: 10px;
    
    background-color: white;
    &-link {
        margin-top: 10px;
        display: none;
        padding-top: 15px;
        
    }
}
li.nav-list:hover li.drop-link{
    display: block; 
    background-color: #fff;
    padding: 10px;
}
.down {
    background-image: url(../src/img/dropd.svg);
    background-repeat: no-repeat;
    width: 70px;
    background-position: right;
    padding-left: 1px;
    margin-left: 4px;
}
.wrapper {
    
    background-image: url(../src/img/mainBG.jpg);
    background-position: center 100%;
    width: 1440px;
    height: 830px;
    background-repeat: no-repeat;
    margin: 0px auto;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        
}
.sub {
    position: relative;
    width: 297px;
    height: 48px;
    left: 1009px;
    top: 450px;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: $darkTx;  
}
.find{
    position: relative;
    height: 374px;
    width: 380px;
    left: 140px;
    top: 70px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    cursor: default;
    color: black;
    display: inline-block;

        h1{
            position: relative;
            top: 23px;
            left: 30px;
            width: 320px;
        }    
        &-arrival {
            position: absolute;
            text-transform: uppercase;
            left: 30px;
            top: 113px;
            
        }
        &-departure {
            position: absolute;
            text-transform: uppercase;
            left: 200px;
            top: 113px;
        }
        &-guests {
            position: absolute;
            text-transform: uppercase;
            top:197px;
            left: 30px;
        }
        &-guestsChoice {
            display: none;
            position: absolute;
            width: 320px;
            height: 159px;
            left: 29px;
            top: 265px;
            background: #FFFFFF;
            text-transform: uppercase;
            border: 1px solid rgba(31, 32, 65, 0.5);
            border-radius: 0px 0px 2px 2px ;
            box-sizing: border-box;
            box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        }
    }
input[name='date'] {
    @include input(150px);
}
#butt,#butt2{
    @include dropButton(103px);
}
#butt3{
    @include dropButton(273px);
}
input[name="guests"]{
    @include input(320px);
}

.visitors {
    position: relative;
    padding-top: 8px;
    padding-left: 13px;
    
    .counterAdult,.counterChild,.counterBaby{
        position: absolute;
        left: 262px;;
    }

.minus {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 221px;
    top: 7px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 3px;
    background-color: #FFFFFF;
    cursor: pointer;
    padding-top: 3px;
}
.plus {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 283px;
    top: 7px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 3px;
    background-color: #FFFFFF;
    cursor: pointer;
    padding-top: 4px;
    }
}
.find-buttons{
    display: flex;
    justify-content: space-between;
    #clearCounter, #confirmCounter {
        color: rgba(188, 156, 255, 1);
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 4px;
        border:none;
        background-color: #FFFFFF;
        height: 30px;
        width: 99px;
        margin-top: 15px;
            
            &:hover{
                background-color: hsl(0, 0%, 97%);
        }
    }
}