@import 'variables';
@import 'mixins';

.footer {
  position: relative;
  color: $darkShade50;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin: 0px auto; 
  user-select: none;

  &-logo_and_discription{
    position: relative;
    margin-left: 0px;
    margin-top: 100px;
    height: min-content;
    &-logo{
      position: relative;
    }
    &-discription {
      position: relative;
      width: 270px;
      margin-top: 10px;
    }
  }
  &-nav {
    position: relative;
    margin-top: 92px;
    display:flex;
    justify-content: space-between;
    max-width: 890px;
    margin-bottom: 89px;
    &-list{
      @include fontH3;
      color: $darkShade100;
      padding: 0;
      margin-left: 31px;
      position: relative;
      width: 300px;
      
      &-item {
        @include fontBody;
        list-style: none;
        margin-top: 18px;
        height: 20px;

        &>a{
          text-decoration: none;
          color: $darkShade50;
        }
      }
      form{
        margin-top: 52px;
        &>input{
          @include input(260px);
        }
        &>button{
          @include dropButton(216px);
          color: $purple;
        }
      }
    }
  }
  &-line {
    position: relative;
    border-top: 1px solid $darkShade50;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .icons{
      display: flex;
      margin-left: 677px;
      .twitter{
        background: url(/images/twitter.svg);
        width: 25px;
        height: 20px;
      }
      .facebook{
        background: url(/images/facebook.svg);
        width: 22px;
        height: 22px;
        margin-left: 20px;
      }
      .instagram{
        background: url(/images/instagram.svg);
        width: 22px;
        height: 22px;
        margin-left: 22px;
      }
    }
  }
}
@media (max-width:1200px) {
  .footer-logo_and_discription{
    margin-top: 10px;
    left: -18%;
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-left: 0;
    &-discription{
      margin-left: 20px;
      margin-top: -8px;
    }
  }
  .footer-nav{
    margin-top: 10px;
  }
  .footer-line{
    &>span{
      // white-space: nowrap;
      margin-left: 2%;
      margin-right: 2%;
    }
    .icons{
      margin-left: 30%;
    }
  }
}
@media (max-width:992px) {
  .footer-logo_and_discription{
    display: none;
  }
  .footer-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0px;

    &-list{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }
  }
  .footer-line{
    .icons{
      margin-left: 2%;
    }
  }
  .footer-nav-list form > button{
    left: 237px;
  }
}