
.wrapper_searchRoom {
  position: relative;
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  // border-bottom: 1px solid $darkShade50;
  justify-content: center;

  .filter{
    position: relative;
    // margin-left: 10%;
    margin-top: 30px;
    
    .dates{
      margin-bottom: 20px;
    }
    .title {
      @include fontH3;
      color: $darkShade100;
      margin-bottom: 6px;
    }
    .guests{
      position: relative;
      margin-bottom: 20px;

      .dropMenu {
        @include fontH3;
        position: absolute;
        width: 263px;
        height: min-content;
        top: 61px;
        background: #FFFFFF;
        text-transform: uppercase;
        border: 1px solid $darkShade50;
        border-radius: 0px 0px 5px 5px ;
        box-sizing: content-box;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        display: none;
        z-index: 100;

          .dropMenu_show{
            display: block;
          }
          .item {
            position: relative;
            color: $darkShade100;
            padding-top: 13px;
            padding-bottom: 9px;
            padding-left: 13px;
              
            .minus {
              position: absolute;
              width: 30px;
              height: 30px;
              left: 165px;
              top: 7px;
              color: $darkShade25;
              border: 1px solid $darkShade25;
              box-sizing: border-box;
              border-radius: 22px;
              font-weight: normal;
              font-size: 18px;
              line-height: 22px;
              padding-bottom: 3px;
              background-color: #FFFFFF;
              cursor: pointer;
              padding-top: 3px;
                &-unactive{
                    color: $darkShade05;
                    border-color: $darkShade05;
                    cursor: default;
                }
            }
          
            :nth-child(even){
              position: absolute;
              left: 208px;
              cursor: default;
            }
          
            .plus {
              position: absolute;
              width: 30px;
              height: 30px;
              left: 225px;
              top: 7px;
              color: $darkShade25;
              border: 1px solid $darkShade25;
              box-sizing: border-box;
              border-radius: 22px;
              font-weight: normal;
              font-size: 18px;
              line-height: 22px;
              padding-bottom: 3px;
              background-color: #FFFFFF;
              cursor: pointer;
              padding-top: 4px;

              &-unactive{
                color: $darkShade05;
                border-color: $darkShade05;
              }
            }
          }
          .buttons-container{
            position: relative;
            display: flex;
            justify-content: space-between;
            border-radius: 4px;
            margin: 20px 10px 11px 10px;

          .hide{
            opacity: 0;
            cursor: default;
          }
        }
      }
    }
    .price{
      .title{
        margin-top: 10px;
        margin-bottom: 0px;
      }
      .range-slider-container{
        position: relative;
        
        input[class='slider-value'] {
          font-size: 12px;
          color: $darkShade50;
          position: relative; 
          right: -162px;
          top: -20px;
          border: none;

          &:focus{
            outline: none;
          }
        }
        .range-slider{
          position: relative;
          height: 4px;
          width: 263px;
          .ui-slider{
          
            &-horizontal {
                background: blue;
                height: 5px;
            }
            &-range{
                top: -0.1px;
                height: 4.5px;
                background: $greenGr;
            }
            &-handle {
              top: -5.5px;
              width: 12px;
              height: 12px;
              border-radius: 100% ;
              border: 1px solid white;
              background: $greenGr;
              
              &:focus{
                  outline: none;
              }
            }
          }
        }
      }
      .range-slider-container+div{
        font-size: 0.75rem;
        margin-top: 10px;
        margin-bottom: 23px;
      }
    }
    .rules{

      .checkboxes-container{
        margin-top: 17px;
        padding-bottom: 5px;
        .checkboxContainer{
          margin-bottom: 6px;
        }
      }
    }
    .availability{
      margin-top: 33px;
      .checkboxes-container{
        margin-top: 16px;
      }
      .checkboxContainer{
        margin-bottom: 12px;
        height: 51px;
      }
    }
    .facilities{
      position: relative;
      margin-top: 30px;
      margin-bottom: 20px;

      .dropMenu {
        @include fontH3;
        position: absolute;
        width: 263px;
        height: min-content;
        top: 61px;
        background: #FFFFFF;
        text-transform: uppercase;
        border: 1px solid $darkShade50;
        border-radius: 0px 0px 5px 5px ;
        box-sizing: content-box;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        display: none;
        z-index: 100;

          .dropMenu_show{
            display: block;
          }
          .item {
            position: relative;
            color: $darkShade100;
            padding-top: 13px;
            padding-bottom: 9px;
            padding-left: 13px;
              
            .minus {
              position: absolute;
              width: 30px;
              height: 30px;
              left: 165px;
              top: 7px;
              color: $darkShade25;
              border: 1px solid $darkShade25;
              box-sizing: border-box;
              border-radius: 22px;
              font-weight: normal;
              font-size: 18px;
              line-height: 22px;
              padding-bottom: 3px;
              background-color: #FFFFFF;
              cursor: pointer;
              padding-top: 3px;
                &-unactive{
                    color: $darkShade05;
                    border-color: $darkShade05;
                    cursor: default;
                }
            }
          
            :nth-child(even){
              position: absolute;
              left: 208px;
              cursor: default;
            }
          
            .plus {
              position: absolute;
              width: 30px;
              height: 30px;
              left: 225px;
              top: 7px;
              color: $darkShade25;
              border: 1px solid $darkShade25;
              box-sizing: border-box;
              border-radius: 22px;
              font-weight: normal;
              font-size: 18px;
              line-height: 22px;
              padding-bottom: 3px;
              background-color: #FFFFFF;
              cursor: pointer;
              padding-top: 4px;

              &-unactive{
                color: $darkShade05;
                border-color: $darkShade05;
              }
            }
          }
          .buttons-container{
            position: relative;
            display: flex;
            justify-content: space-between;
            margin: 20px 10px 11px 10px;

          .hide{
            opacity: 0;
            cursor: default;
          }
        }
      }
    }
    .more_facilities{
      margin-top: 10px;
      width: 250px;
      
      .title{
        margin-bottom: 20px;
        cursor: pointer;
        user-select: none;
        
      }
      .checkboxes-container{
        .checkboxContainer{
          margin-bottom: 6px;
        }
      }
      .hide{
        display: none;
      }
    }
    .drop-list_closed{
      background-image: url(/images/dropd.svg);
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: 2px;
    }
    .drop-list_opened{
      background-image: url(/images/upd.svg);
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: 2px;
    }
  }
  .rooms{
    margin-left: 60px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    .h1{
      @include fontH1;
    }
    .rooms-mainContainer{
      position: relative;
      max-width: 850px;
      margin-top: 21px;
      display: flex;
      flex-wrap: wrap;
      .room-cart{
        position: relative;
        height: auto;
        width: 270px;
        margin-left: 1px;
        margin-right: 10px;
        margin-bottom: 17px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        &-slick{
          border-radius: 4px;
          position: relative;
          margin-bottom: 4px;
          max-height: 152px;
        
          img {
            position: relative;
            height: 152px;
            // background: rgb(166, 168, 180);
          }
        }
        
        &-number_and_price{
          position: relative;
          width: 85%;
          margin-top: 16px;
          margin-left: 20px;
          padding-bottom: 7px;
          display: inline-flex;
          justify-content: space-between;
          border-bottom: 1px solid $darkShade25;
          .number{
            font-size: 0.9rem;
            color: $darkShade100;
            font-weight: bold;
            position: relative;
            &>span{
              font-size: 19px;
              line-height: 25px;
            }
            &>span+span{
              font-size: 0.75rem;
              color: $purple;
              text-transform: uppercase;
              margin-left: 5px;
            }
          }
          .price{
            @include fontBody;
            font-size: 0.9rem;
            color: $darkShade50;
            position: absolute;
            width: 120px;
            top: 2px;
            left: 133px;
            font-weight: bold;

            &>span{
              font-weight: normal;
              font-size: 12px;
            }
          }
        }
        &-raiting{
          display: inline-flex;
          margin-top: 9px;
          margin-left: 22px;
          margin-bottom: 18px;
          width: 280px;
  
          &-stars {
            position: relative;
            margin-right: 17px;
  
            .active {
              content: url("/images/star.svg");
              height: 20px;
              width: 20px;
              margin-right: 4px;
            }
            .pasive {
              content: url("/images/star_border.svg");
              height: 20px;
              width: 20px;
              margin-right: 4px;
            }
          }
          &-reviews{
            @include fontBody;
            font-weight: bold;
            font-size: 15px;
            position: absolute;
            right: 18px;
            
            &>span{
              @include fontBody;
            }
          }
        }
      }
    }
    .pagination-main-container{
      position:relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      
      .pagination-container{
        margin-top: 23px;
        margin-right: 28px;
        display: flex;
        &-page_number{
          font-weight: normal;
          color: $darkShade50;
          text-decoration: none;
          display: flex;
          width: 40px;
          height: 40px;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          cursor: pointer;

          &:hover{
            background: $pinkGr;
            color: white;
            font-weight: bold;
          }
          &-current{
            background: $pinkGr;
            color: white;
            font-weight: bold;
          }
          &-unclick{
            cursor: default;

            &:hover{
              background: none;
              color: $darkShade50;
              font-weight: normal;
            }
          }
          &-next{
            position: relative;
            background: $greenGr;
            background-repeat: no-repeat;
            background-position: center;

            &::before{
              content: url(/images/arrow_white.svg);
              position: relative;
              top: 5%;
            }
          }
        }
      }
      .pagination-container-discription{
        @include fontBody;
        font-weight: normal;
        text-transform: none;
        margin-top: 9px;
        margin-right: 26px;
      }
    }
  }
}

@media (max-width:1156px) {
  .wrapper_searchRoom {
  
  .rooms .pagination-main-container{
    max-width: 565px;

    .pagination-container{
      margin: 0;
    }
  }
  .filter{
    margin-left: 50px;
  }
}
}
@media (max-width:936px) {
  body{
    .datepickers-container{
      left:-25px;
    }
  }
  .wrapper_searchRoom {
    flex-direction: column;
    align-items: center;

    .rooms{
      max-width: 570px;
      margin-left: 0px;
    }
  }

}
@media (max-width:650px) {
  .wrapper_searchRoom{
  flex-wrap: wrap;
    .filter{
      margin: 20px 0px 0px 0px;
    }
    .rooms{
      
        text-align: center;
      
      margin: 20px 0px 0px 5px;
      .rooms-mainContainer{
        justify-content: center;
        
      }
    }
  }
}
 
