footer.footer
        .footer-logo
                img(src="../src/img/logo.svg", alt="logo")
        .footer-discription
            | Бронирование номеров в лучшем отеле 2019 года 
            | по версии ассоциации "Отельные взгляды"
        .footer-nav
            ul.footer-nav-list Навигация
                li.footer-nav-item О нас
                li.footer-nav-item Новости
                li.footer-nav-item Служба поддержки
                li.footer-nav-item Услуги
            ul.footer-nav-list О нас
                li.footer-nav-item О сервисе
                li.footer-nav-item Наша команда
                li.footer-nav-item Вакансии
                li.footer-nav-item Инвесторы
            ul.footer-nav-list Служба поддержки
                li.footer-nav-item Соглашения
                li.footer-nav-item Сообщества
                li.footer-nav-item Связь с нами
            ul.footer-nav-list Подписка
                li.footer-nav-item Получайте специальные <br>
                    | предложения и новости сервиса
                input(type="email" placeholder="E-mail").footer-nav-email
                button(
                    type = "submit" 
                ).material-icons.footer-nav-email-confirm arrow_forward
        .footer-line
            span.fab.fa-facebook-square
