header.header
    .logo
        img(src="../src/img/logo.svg", alt="logo")
    nav
        ul.nav
            li.nav-list
                a(href="").nav-item О нас
            li.nav-list.down Услуги
                ul.drop
                    a(href="").nav-item
                        li.drop-link Обслуживание номера
                    a(href="").nav-item
                        li.drop-link Обед в номер
                        a(href="")
                    a(href="").nav-item
                        li.drop-link Каршеринг
                    a(href="").nav-item
                        li.drop-link Доставка из аэропорта
                        
            li.nav-list
                a(href="").nav-item Вакансии
            li.nav-list
                a(href="").nav-item Новости
            li.nav-list
                a(href="").nav-item Соглашения
    .framePink 
        button.whiteB ВОЙТИ
    button.pinkB ЗАРЕГИСТРИРОВАТЬСЯ