footer.footer
  .footer-logo_and_discription
    .footer-logo_and_discription-logo
      img(src="/images/Logo.svg", alt="logo")
    .footer-logo_and_discription-discription
      | Бронирование номеров в лучшем отеле 2019 года 
      | по версии ассоциации «Отельные взгляды»
  .footer-nav
    ul.footer-nav-list Навигация
      li.footer-nav-list-item 
        a(href="") О нас
      li.footer-nav-list-item
        a(href="") Новости
      li.footer-nav-list-item
        a(href="") Служба поддержки
      li.footer-nav-list-item 
        a(href="") Услуги
    ul.footer-nav-list О нас
      li.footer-nav-list-item
        a(href="") О сервисе
      li.footer-nav-list-item
        a(href="") Наша команда
      li.footer-nav-list-item
        a(href="") Вакансии
      li.footer-nav-list-item
        a(href="") Инвесторы
    ul.footer-nav-list Служба поддержки
      li.footer-nav-list-item
        a(href="") Соглашения
      li.footer-nav-list-item
        a(href="") Сообщества
      li.footer-nav-list-item
        a(href="") Связь с нами
    ul.footer-nav-list Подписка
      li.footer-nav-list-item Получайте специальные 
          | предложения и новости сервиса
      form(action="", method="post") 
        input(type="email" placeholder="Email")
        button(
            type = "submit" 
        ).material-icons.footer-nav-email-confirm arrow_forward
  .footer-line
    span Copyright © 2018 Toxin отель. Все права защищены.
    .icons
      a(href="#").twitter 
      a(href="#").facebook
      a(href="#").instagram